* {
  font-family: "Kumbh Sans", sans-serif;
}
html{
  /* background-image: linear-gradient(to bottom,blue 0%, green 100% ); */
  height: 50rem;
  width: 95rem;
  background: linear-gradient(crimson, skyblue, rgb(106, 186, 106)), no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}
button {
  border-radius: 10px;
}
#newTask {
  border-radius: 10px;
}

.body__container {
  padding-top: 10rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
.task__container {
  justify-content: center;
  align-items: center;
  display: flex;
}
.btns__container {
  margin: 0 30rem;
  padding-top: 2rem;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.task__lists {
  padding-top: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
#newTask {
  margin-right: 1rem;
  caret-color: white;
}
#newTask:focus {
  transition: ease-in-out 0.4s;
  caret-color: black;
  box-shadow: 0px 0px 2rem grey;
}
